body {
    background-color: black;
    color: white;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}
#nav {
    float: left;
    height: 500px;
    width: 25%;
}
li {
    list-style-type: none;
}
li a 
{
        background-color: gray;
        border-radius: 20px;
        margin: 15px;
        padding: 30px;
        text-align: center;
        display: block;
        text-decoration: none;
}